/* General styles */
html, body {
  height: 100%;
  margin: 0;
  overflow: auto;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #7D886E;
  color: #465A3D;
}

/* Navigation styles */
nav {
  background-color: #7E3C24;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a img {
  width: 30px;
  height: 30px;
}

nav ul li a:hover {
  background-color: #A17356;
}

/* Content styles */
.content-with-padding {
  padding-top: 60px;
  flex: 1;
  overflow-y: auto;
}

.page-title {
  margin-top: 20px;
  text-align: center;
  color: #465A3D;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
  overflow: hidden;
}

.box {
  background-color: #A17356;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.box-left {
  margin-right: 20px;
}

.box-right {
  margin-left: 20px;
}

.box h2 {
  margin-top: 0;
  text-align: center;
  width: 100%;
}

#currentAlerts {
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
}

/* Form styles */
.form-centered {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.form-group select,
.form-group textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #465A3D;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
}

/* Button styles */
.button {
  background-color: #465A3D;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
}

.button:hover {
  background-color: #7E3C24;
}

.action-button {
  margin-right: 5px;
}

/* Table styles */
.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 1em;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table th,
.styled-table td {
  padding: 12px 15px;
}

.styled-table th {
  background-color: #A17356;
  color: #ffffff;
  text-align: left;
}

.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #A17356;
}

.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #465A3D;
}

/* Alert styles */
.alert {
  background-color: #fff;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  font-size: 1.2em;
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  width: calc(100% - 30px);
  box-sizing: border-box; 
}

.alert p {
  margin: 5px 0;
  font-weight: bold;
}

/* Footer styles */
footer {
  background-color: #7286A0;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
}

/* Logout button styles */
.logout-button {
  background-color: #465A3D;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #7E3C24;
}

/* Login page styles */
body.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #7D886E;
}

/* Login box */
.login-box {
  background-color: #A17356;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

/* Login title styling */
.login-box h2 {
  color: #7E3C24;
  margin-bottom: 20px;
}

/* Login form input styling */
.login-box .login-form input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #465A3D;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Login button styling */
.login-box .button {
  background-color: #465A3D;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
}

.login-box .button:hover {
  background-color: #7E3C24;
}

/* Signup button styling */
.login-box .signup {
  display: block;
  margin-top: 15px;
  color: #7286A0;
  text-decoration: none;
}

.login-box .signup:hover {
  text-decoration: underline;
}


body.manage-users-page {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #7D886E;
  color: #465A3D;
  display: flex;
  padding-top: 270px; 
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#manage-users-container {
  width: 80%;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

#manage-users-header {
  background-color: #7E3C24;
  color: #fff;
  padding: 20px;
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  border-radius: 8px 8px 0 0;
}


.manage-users-box-container {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.manage-users-box {
  background-color: #A17356;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin: 10px;
}

.manage-users-box h2 {
  margin-top: 0;
  text-align: center;
  color: #fff;
}

.manage-users-form-container label,
.manage-users-list-container label {
  display: block;
  margin: 10px 0 5px;
  font-weight: bold;
  color: #fff;
}

.manage-users-form-container input[type="text"],
.manage-users-form-container input[type="password"],
.manage-users-form-container button {
  width: 100%;
  padding: 10px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.manage-users-form-container button {
  background-color: #465A3D;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.manage-users-form-container button:hover {
  background-color: #7E3C24;
}

.manage-users-list-container ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.manage-users-list-container li {
  padding: 10px;
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
}

.manage-users-list-container li:last-child {
  border-bottom: none;
}

.manage-users-list-container .delete-form {
  display: inline;
}

.manage-users-list-container .delete-button {
  background-color: #d9534f;
  color: #fff;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.manage-users-list-container .delete-button:hover {
  background-color: #c9302c;
}
