/* General styles */
html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #7D886E;
  color: #465A3D;
}

/* Navigation styles */
nav {
  background-color: #7E3C24;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a img {
  width: 30px;
  height: 30px;
}

nav ul li a:hover {
  background-color: #A17356;
}

/* Container styles */
.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
  overflow: hidden;
}

.box {
  background-color: #A17356;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.box h2 {
  margin-top: 0;
  text-align: center;
  width: 100%;
}

/* Form styles */
.form-centered {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group {
  margin-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-group label {
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
}

.form-group select,
.form-group textarea {
  width: 80%;
  padding: 10px;
  border: 1px solid #465A3D;
  border-radius: 5px;
  box-sizing: border-box;
  background-color: #fff;
}

.button {
  background-color: #465A3D;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
}

.button:hover {
  background-color: #7E3C24;
}

/* Alert styles */
#currentAlerts {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  width: 100%;
  flex-grow: 1;
}

.alert {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-all;
  width: calc(100% - 20px);
  box-sizing: border-box; 
}

.alert p {
  margin: 5px 0;
}

/* Footer styles */
footer {
  background-color: #7286A0;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
}

/* Logout button styles */
.logout-button {
  background-color: #465A3D;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #7E3C24;
}

/* Login page styles */
body.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #7D886E;
}

/* Login box */
.login-box {
  background-color: #A17356;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

/* Login title styling */
.login-box h2 {
  color: #7E3C24;
  margin-bottom: 20px;
}

/* Login form input styling */
.login-box .login-form input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #465A3D;
  border-radius: 5px;
  box-sizing: border-box;
}

/* Login button styling */
.login-box .button {
  background-color: #465A3D;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
}

.login-box .button:hover {
  background-color: #7E3C24;
}

/* Signup button styling */
.login-box .signup {
  display: block;
  margin-top: 15px;
  color: #7286A0;
  text-decoration: none;
}

.login-box .signup:hover {
  text-decoration: underline;
}
