html, body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  background-color: #7D886E;
  color: #465A3D;
}

nav {
  background-color: #7E3C24;
  overflow: hidden;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-left: 20px;
}

nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

nav ul li a img {
  width: 30px;
  height: 30px;
}

nav ul li a:hover {
  background-color: #A17356;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  flex: 1;
}

.box {
  background-color: #A17356;
  padding: 20px;
  border-radius: 10px;
  width: 45%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.box h2 {
  margin-top: 0;
}

.box form label, .box form textarea, .box form select, .box form button {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}

.alert {
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.alert p {
  margin: 5px 0;
}

footer {
  background-color: #7286A0;
  color: white;
  text-align: center;
  padding: 10px;
  width: 100%;
  position: relative;
}

.logout-button {
  background-color: #465A3D;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #7E3C24;
}

/* Login box content */
body.login-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #7D886E;
}

/* Login box */
.login-box {
  background-color: #A17356;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}

/*Login title styling*/
.login-box h2 {
  color: #7E3C24;
  margin-bottom: 20px;
}

/*Login button styling*/
.login-box .login-form input {
  width: calc(100% - 22px);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #465A3D;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-box .button {
  background-color: #465A3D;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: auto;
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 10px;
  display: inline-block;
  text-decoration: none;
  font-size: 14px;
}

.login-box .button:hover {
  background-color: #7E3C24;
}

/*Signup button styling*/
.login-box .signup {
  display: block;
  margin-top: 15px;
  color: #7286A0;
  text-decoration: none;
}

.login-box .signup:hover {
  text-decoration: underline;
}
