#forecastContainer {
    margin-top: 10%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    min-height: 100px;
    color: #0000009e;
}
.forecastCard {
    margin-right: 10px;
    margin-left: 10px;
    background-color: rgba(76, 139, 76, 0.889);
    position: relative;
    padding: 10px;
    min-height: 160px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
}
#first {
    height: 105%;
    color: black;
    background-color: rgb(78, 112, 61);
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.35);
}
#first hr {
    border-color: rgb(179, 179, 12);
}
.max_temp {
    position: absolute;
    left: 69%;
    font-weight: bold;
    top: 30%;
}
.min_temp {
    position: absolute;
    top: 39%;
    left: 69%;
}
.description {
    position: absolute;
    top: 66%;
    margin-right: 7%; 
}
.imageContainer {
    position: absolute;
    top: 16%;
    right: 35%;
}
.image {
    max-height: 100px;
}
.day {
    font-weight: bold;
}
.tomorrow {
    font-weight: bold;
}
#hourlyForecastContainer {
    overflow-x: auto;
    white-space: nowrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 2%;
    height: 291px;
    box-shadow: 0px 7px 25px rgba(0, 0, 0, 0.08);
    z-index: 10;
}
.hourlyCard {
    display: inline-block;
    width: 90px;
    height: 270px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    text-align: center;
    padding-top: 10px;
    padding-left: 2px;
    padding-right: 2px;
    text-wrap: wrap;
    vertical-align: top;
    position: relative;
}
.hourly_image {
    max-height: 80px;
}
.precip_prob_image {
    max-height: 30px;
    position: absolute;
    top: 200px;
    left: 33px;
}
.precipitation_prob {
    position: absolute;
    left: 35px;
    top: 240px;
}
.hours {
    font-weight: bold;
}
.temp {
    font-weight: bold;
}
@media screen and (min-width: 860px) and (max-width: 1050px) {
    .forecastCard {
        font-size: 12px;
    }
    .image {
        max-height: 80px;
    }
}
@media screen and (min-width: 680px) and (max-width: 860px) {
    .forecastCard {
        font-size: 9px;
    }
    .image {
        max-height: 60px;
    }
} 
@media screen and (max-width: 680px)  {
    .forecastCard {
        font-size: 9px;
        position: relative;
    }
    .image {
        position: absolute;
        max-height: 45px;
        right: -7px;
        top: 12px;
    }
} 