<nav>
  <ul>
    <li><a href="/"><img src="/images/home.png" alt="Home"></a></li>
    <li><a href="/send-message"><img src="/images/chat.png" alt="Send Message"></a></li>
    <li><a href="/alerts"><img src="/images/warning.png" alt="Alerts"></a></li>
    <li><a href="/manage-users"><img src="/images/user.png" alt="Manage User"></a></li>
    <li><a href="/weather"><img src="/images/heavy-rain.png" alt="Weather"></a></li>
    <li><a href="/settings"><img src="/images/settings.png" alt="Settings"></a></li>
  </ul>
</nav>
