<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css">
</head>
<body>
    <%- include('includes/nav') %>
    <main>
        <h1>Hello, <%= name %>!</h1>
        <form action="/logout" method="post">
            <button class="logout-button" type="submit">Logout</button>
        </form>
        
        <div class="how-to-container">
            <div class="how-to-item">
                <img src="/images/home.png" alt="Home Page" class="how-to-image">
                <p class="how-to-text">Home Page - Contains a how to guide to function the website</p>
            </div>
            <div class="how-to-item">
                <img src="/images/chat.png" alt="Send Message/Alerts" class="how-to-image">
                <p class="how-to-text">Send Message/Alerts - Create messages and alerts by selecting the alert type, filling out your message/alert and clicking send. The top 5 recent alerts will be displayed next to you to show you what has been sent previously.</p>
            </div>
            <div class="how-to-item">
                <img src="/images/warning.png" alt="Incoming Alerts" class="how-to-image">
                <p class="how-to-text">Incoming Alerts - Any alert requests sent by users can be accepted or deleted by either clicking send which sends the message to all users, or by deleting by clicking the delete button next to each request.</p>
            </div>
            <div class="how-to-item">
                <img src="/images/user.png" alt="Manage Users" class="how-to-image">
                <p class="how-to-text">Manage Users - Be able to add village people by entering their name, phone number and location into the certain fields and then clicking Add User. Then you're able delete any current users by going through the users table and clicking delete next to the users row.</p>
            </div>
            <div class="how-to-item">
                <img src="/images/heavy-rain.png" alt="Weather" class="how-to-image">
                <p class="how-to-text">Weather - View the overall weekly weather forecast by an image, and also view the full days weather forecast by hour. In the daily forecast, the bold temperature is the maximum temperature while the one below that is the minimum temperature of the day.</p>
            </div>
        </div>
    </main>
    <%- include('includes/footer') %>
</body>
</html>
