<div>
    <h2>Sign Up</h2>
    <%= locals.nullError %>
    <%= locals.duplicateError %>
    <form action= "/signup" method = "POST">
        <label for="username"></label>
        <input type="username" id="username" name="username" placeholder="Username"
        required>
        <label for="password"></label>
        <input type="password" id="password" name="password" placeholder="Password"
        required>
        <label for="tel"></label>
        <input type="tel" name="phone" placeholder="+855 XX XXX XXXX"
        pattern="^\+855\s[0-9]{2}\s[0-9]{3}\s[0-9]{4}$" required>
        <button class="submit-button" type="submit">Signup</button> 
    </form>
    <a href="login">Login</a>
</div>